header {
    
}

header nav {
    
}

header nav .nav-search button, 
header nav .nav-search button:hover {
    background-color: #f56a80
}

header nav .nav-search input,
header nav .nav-search select,
header nav .nav-search button {
    font-size: 12px; 
}

header nav .nav-user {
    font-weight: bold; 
}

header nav .nav-user-points {
   border-radius: 2px; 
   background-color: #f3f3f3;
   padding: 5px; 
   line-height: 15px;
   font-weight: 500; 
}

header nav .nav-user-points .user-points-amount {
    font-size: 13px;
}

header nav .nav-user-points .user-points-label {
    font-size: 11px; 
}

header nav .nav-user-controls a {
    color: black; 
    font-size: 12px; 
    text-decoration: none; 
    font-weight: 500; 
}

header .navbar-mobile a {
    color: #333; 
}

/* Mobile Menu */

.mobile-menu {
    position: fixed;
    top: 0; 
    left:-50vw; 
    width: 50vw; 
    height: 100vh;
    background-color: #1297f4;
    overflow: auto; 
    padding: 1em; 
    z-index:999; 
}

.mobile-menu hr {
    border-color: white; 
}

.mobile-menu a {
    color: white; 
    font-weight: 500; 
}

.mobile-menu ul {
    list-style-type: none;
    padding-left: 0; 
}

.mobile-menu ul li:not(:last-child) {
    margin-bottom: 0.5em; 
}
