header {
    
}

header nav {
    
}

header nav .nav-search button {
    background-color: #f56a80; 
}

header nav .nav-search input,
header nav .nav-search select,
header nav .nav-search button {
    font-size: 12px; 
}

header nav .nav-user {
    font-weight: bold; 
}

header nav .nav-user-points {
   border-radius: 2px; 
   background-color: #f3f3f3;
   padding: 5px; 
}

header nav .nav-user-points .user-points-amount {
    font-size: 13px;
}

header nav .nav-user-points .user-points-label {
    font-size: 11px; 
}

header nav .nav-user-controls a {
    color: black; 
    font-size: 12px; 
    text-decoration: none; 
}

main {
    
}

main .main-pre-content {
    background-color: #19c6b7;
    color: white; 
}

footer {
    background-color: #5a5a5a;
    color: white; 
}

footer h4 {
    margin-bottom: 1em; 
}

footer hr {
    background-color: white; 
}

footer ul {
    list-style-type: none;
    padding-left: 0; 
}

footer ul li {
    font-size: 14px; 
}

footer ul li.footer-social {
    font-size: 2em; 
}

footer ul li:not(:last-child) {
    margin-bottom: 0.5em; 
}

footer ul li a {
    color: white; 
}

footer ul li a:hover {
    color: white; 
}

footer ul li.footer-social a:hover {
    text-decoration: none; 
}

footer .footer-copyright {
    text-transform: uppercase; 
    letter-spacing: 1px; 
}