@media screen and (max-width:767px) {
    .current-day form.search-activity-provider {
        display: none; 
    }
}

@media screen and (min-width:768px) {
    .current-day form.search-activity-provider {
        display: block; 
    }
}

form.search-activity-provider {
   display: flex; 
   flex-wrap: wrap; 
}

form.search-activity-provider input[type=search] {
    font-size: 12px;
    border: 0; 
    position:relative;
    left:30px;
    background-color: #ddd; 
    border-radius: 4px; 
    padding-left: 2px;
    padding-right: 2px; 
    width:150px; 
}

form.search-activity-provider button {
    font-size: 12px; 
    border: 0;
    position: relative;
    background-color: #ddd; 
    border-radius: 4px; 
}